﻿@font-face
{
	font-family: OpenSans-EB;
	src: url('../fonts/FF_DIN_Medium.eot');
}

@font-face
{
	font-family: Cambria;
	src: url('../fonts/CAMBRIA.TTC');
}

@font-face
{
	font-family: MyriadPro;
	src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}


/** BODY **/
body {
	background: #ebebeb;
}

@media all and (min-width: 992px) {
	#header {
		height: 96px;
	}

	#header #header-image img{
		width: 340px;
		height: 72px;
		margin-top: 10px;
	}

	#header #left-header {
		height: 100%;
	}

	#header #left-header #social {
		position: absolute;
		bottom: 0px;
		margin-left: 10px;
	}

	#header #left-header #date {
		margin-left: 10px;
	}

	#header #right-header {
		height: 100%;
	}

	#header #right-header #search{
		position: absolute;
		bottom: 0px;
	}
	#header #right-header #search #s{
		width: 200px !important;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	#myCarousel {
		display: none !important;
	}

	#header #left-header {
		display: none;
	}
	
	#header #right-header {
		display: none;
	}
	
	#header #header-image img{
		width: 340px;
		height: 72px;
		margin-top: 10px;
	}
}

@media all and (max-width: 767px) {
	#myCarousel {
		display: none !important;
	}

	.navbar {
		background: #ffffff;
		margin-top: 10px;
	}
	
	.navbar-nav li a {
		color: #000000 !important;
	}
	
	.navbar-toggle .icon-bar {
		background: #ffffff !important;
	}

	#header #left-header {
		display: none;
	}
	
	#header #right-header {
		display: none;
	}
	
	#header #header-image img{
		width: 340px;
		height: 72px;
		margin-top: 10px;
	}
}

.container {
	background: #ffffff;
	max-width: 1080px;
}

.in-row {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

footer .container {
	background: #000000 !important;
}

/** END OF BODY **/

.current-menu-item{
	background-color: #bc2429 !important;
}
.current-menu-item > a {
	color: #fff !important;
}

.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px grove #555; 
}

/* Glyph, by Harry Roberts */
		
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


/** HEADER **/
#header-image  img{
	width: 100%;
	height: 100px;
}

.carousel {
	margin-bottom: 20px;
}

.carousel-inner {
	height: 280px;
}

.caroursel-inner img {
	width: 700px;
	height: 350px;
}

.carousel-label {
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.47) 31%,rgba(0,0,0,.7) 100%);
}

.carousel-label h1 {
	font-size: 28px;
	margin-left: 15px;
}

.nav-slider {
	background: #f5f5f5;
}

.nav-slider img {
	width: 100%;
}

.nav-slider a:hover {
	background: #f5f5f5;
	border-radius: 0px;
}


/** CONTENT FEATURE **/
.min-row {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.featured-category {
	width: 100%;
	display: inline-block;
}

.featured-category img {
	width: 95%;
	margin-right: 5%;
	z-index: 0;
}

.description-featured {
	height: auto;
	padding-left: 5px;
	width: 100%;
	z-index: 1;
	color: #000;
	font-family: MyriadPro;
}

.category-label {
	position: absolute;
	z-index: 2;
	top: 0;	
	background: #fcacaf;
	border-radius: 0px;
}


/** Navigasi **/

@media all and (min-width: 991px) {
	#menu {
		height: 50px;
		margin-top: 10px;
	}
}

@media all and (min-width: 768px) {
	#menu {
		margin-top: 10px;
	}
}

.navbar-custom {
    color: #ffffff;
    border-radius: 0;
}

.navbar-collapse {
	padding-left: 15px !important;
	padding-right: 15px !important;

}

@media all and (max-width: 767px) {
	.navbar {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border: 0px solid transparent;
	}

	.navbar a {
		color: #FFFFFF !important;
	}
}

@media all and (min-width: 768px)  {
	.navbar-custom .navbar-nav > li > a {
		position: relative;
		height: 34px;		
		font-family: OpenSans-EB;
		text-transform: uppercase;
		padding: 4px;
		font-size: 0.8em;
		text-decoration: none;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.navbar-custom .navbar-nav {
		width: 100%;
		border-bottom: 3px solid #bc2429;
		border-top: 1px solid #c7c7c7;
	}

	.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	    color: #ffffff;
	    background-color:transparent;
	}

	.navbar-custom .navbar-brand {
	    color:#eeeeee;
	}

	.navbar {
		min-height: 30px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		border: 0px solid transparent;
	}

	.navbar-header {
		height: 40px !important;
	}

	.navbar-brand {
		height: 30px !important;
		padding: 5px 15px !important;
	}

	.navbar .nav > li {
		z-index: 10000 !important;
	}
}


/* POST */
.time {
	font-family: MyriadPro;
	font-size: 12px;
	color: red;
	display: inline;
}

.post p {
	font-family: MyriadPro;
}

.post h3 {
	font-family: Cambria;
}


/*Comment Output*/

.commentlist .reply {}
.commentlist .reply a {}

.commentlist .alt {}
.commentlist .odd {
	background-color:#ccddf2;
}
.commentlist .even {
	background-color:#CCCCCC;
}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}

.commentlist .vcard {}
.commentlist .vcard cite.fn {}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {}
.commentlist .vcard cite.fn a.url {}

.commentlist .comment-meta {
	margin-left: 5px;
	margin-right: 5px;
} 
.commentlist .comment-meta a {}
.commentlist .commentmetadata {}
.commentlist .commentmetadata a {}

.commentlist .parent {}
.commentlist .comment {
	margin-bottom: 20px;
}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
	background-color:#55737D;
	color:#FFFFFF;
	padding: 10px;
}

.commentlist .comment-awaiting-moderation {
	margin-left: 5px;
	margin-right: 5px;
}

.commentlist .comment-author-admin {
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
	background-color:#55737D;
	color:#FFFFFF;
	padding: 10px;
}

.commentlist .reply {
	margin-left: 5px;
	margin-right: 5px;
}

.commentlist {}
.commentlist li {}
.commentlist li p {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.commentlist li  {
	list-style-type: none;
}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}


#respond #comment {
	width: 70%;
}